.card-big-shadow {
  position: relative;
}
.card.card-just-text {
  .content {
    padding: 10px 65px;
    text-align: center;
  }
}
.card {
  height: 100%;

  .content {
    background-color: #757575;
    padding: 20px 20px 10px 20px;
  }
  .description {
    color: #ec9b3b;
    font-family: "Roboto Serif", sans-serif;
    font-size: 16px;
  }
}
.card-big-shadow {
  &:before {
    background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: -12%;
    content: "";
    display: block;
    left: -12%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
}
.content-card {
  margin-top: 10px;
}
.title {
  color: #ebdbdb;
  font-family: "Roboto Serif", sans-serif;
  font-size: 18px;
}
.category {
  font-size: 14px;
}
#bttn {
  width: 100%;
}
.main {
  overflow: hidden;
}
